APP_HOST=0.0.0.0
APP_PORT=3000
BACKEND_HOST=127.0.0.1
BACKEND_PORT=8000

GROQ_API_KEY=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=onwK4e9ZLuTAKqWW03F9

GOOGLE_HOME_HOST=
GOOGLE_HOME_PORT=8009

HA_URL=http://homeassistant:8123
HA_TOKEN=
HA_PLUG_ENTITY_ID=switch.enchufe_pc_enchufe_1

DOCKER_LOG_LINES=200
DOCKER_STOP_TIMEOUT=10
DANIEL_ADMIN_TOKEN=change-this-long-random-token
